body{
    background-color: skyblue;
}
.h1ola{
    color: red;
}
.pola{
    color: purple;
}
#tkg{
    color: red;
}
.borderola{
    border: 2px solid orange;
}
.aola{
    color:black;}
.bola{
    border: 2px solid white;
}
.fola{
    background-color: pink;
}